<div class="nike-banner">
  <div class="text-overlay">
    <h1 class="brand-text">NIKE</h1>
    <h2 class="model-text">AIR FORCE</h2>
    <p class="slogan">No es solo un zapato, es un estilo de vida.</p>
    <button>Descubrir</button>
  </div>
  <div class="shoe-image">
    <img src="assets/img/sinfondo.png" alt="Nike Air Supreme">
  </div>
</div>


<div class="carousel-section">
  <h2 class="carousel-title">Nuestros Productos</h2>
  <p>Explora nuestra colección de zapatillas Nike, donde la comodidad se encuentra con el estilo.</p>

  <div class="carousel-wrapper">
    <owl-carousel-o [options]="customOptions">
      <ng-container *ngFor="let zapato of zapatos">
        <ng-template carouselSlide>
          <img [src]="zapato.imagen" [alt]="zapato.nombre" class="shoe-carousel-img" />
        </ng-template>
      </ng-container>
    </owl-carousel-o>
  </div>
</div>

<div class="location-section">
  <h2>¿Dónde encontrarnos?</h2>
  <p>Ven y visita nuestra tienda física ubicada en Quito.</p>
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d3355.007376806911!2d-78.48556419681772!3d-0.17994518293731251!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2sec!4v1753845388323!5m2!1ses!2sec"
    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>