.nike-banner {
  position: relative;
  background: linear-gradient(135deg, #000 60%, #e50914 40%);
  color: white;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 4rem;
  overflow: hidden;

  .text-overlay {
    position: relative;
    z-index: 2;
    max-width: 50%;

    .brand-text {
      font-size: 20rem;
      font-weight: 900;
      letter-spacing: -5px;
      margin: 0;
      color: #ffffff;
      opacity: 0.1;
      position: absolute;
      top: 0;
      left: 0;
      pointer-events: none;
      user-select: none;
    }

    .model-text {
      font-size: 5rem;
      font-weight: 700;
      color: #fff;
      position: relative;
      margin: 0;
      z-index: 3;
    }

    .slogan {
      font-size: 1rem;
      margin-top: 1rem;
      margin-bottom: 2rem;
      font-style: italic;
      z-index: 3;
      position: relative;
    }

    button {
      background-color: white;
      color: #111;
      border: none;
      padding: 0.8rem 1.6rem;
      font-weight: 50;
      border-radius: 0.5rem;
      cursor: pointer;
      transition: 0.3s ease;
      ;

      &:hover {
        background-color: #e50914;
        color: white;
      }
    }
  }

  .shoe-image {
    position: absolute;
    bottom: -30px;
    right: 150px;
    height: 90%;
    z-index: 1;

    img {
      height: 400px;
      transform: rotate(-15deg);
      filter: drop-shadow(0 10px 10px rgba(0, 0, 0, 0.6));
    }
  }
}
